@using HamburgerProje.Data

@model Dictionary<Menu, Dictionary<string, int>>

<div class="row">




    @foreach (var gruplama in Model)
    {
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/@gruplama.Key.Resim" height="200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@gruplama.Key.Ad</h5>
                    @foreach (var urun in gruplama.Value)
                    {
                        <p class="card-text">@urun.Value adet @urun.Key</p>
                    }
                <a href="#" class="btn btn-primary">@gruplama.Key.Fiyat.ToString("c2")</a>
                </div>
            </div>
        </div>
    }

</div>

