@using HamburgerProje.Data

@model List<Menu>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/@item.Resim" height="200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Ad</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">@item.Fiyat.ToString("c2")</a>
                </div>
            </div>
        </div>
    }

</div>
